
body{
  background-image: url('background.png');
  background-size: auto;
}
.create-post{
  color: #343A40;
  margin-left: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  list-style-type: none;
}

.card div a {
  color: #236BE8;
  text-decoration: none;
}

.card-image{
  height: 500px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.details-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 15px;
  }
.details-header h3{
  text-decoration: none;
  color: #343A40;
}

.details-content{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #98A2AC;
    border-top: 1px solid #98A2AC;
  }

.details-content ul{list-style-type: none;}
.details-content img{width: 150px;}

.details-buttons{
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 10px;
}
.details-buttons h6{
  font-size: 14px;
}
.profile-posts {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.post-card img{
  height: 249px;
  width: 249px;
  border: 1px solid #98A2AC;
  object-fit: cover;
}

.profile-picture{
  width: 300px;
  max-width: 100%;
}

.profile-picture img{
  margin-top: 20px;
  margin-left: 20px;
  height: 200px;
  max-width: 200px;
  width: 100%;
  border-radius: 55%;
  object-fit: cover;
}

.profile-info{
  margin-top: 50px;
  width: 300px;
  max-width: 100%;
}

.profile-info ul{
  list-style-type: none;
  flex-grow: 4;
}

.followers-following{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 300px;
  max-width: 100%;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.font-style{color:#236BE8;}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
}

#myBtn:hover {background-color: #dddddd;}

.flex-comment{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.flex-comment p{width: 500px;}
.flex-comment form{width: 50px;}
.space{margin: 10px;}

.background{
  background-color: white;
  width: 100%;
  height: 100%;
}

#button-hover:hover {background-color: #dddddd;}

.replied-comments{
  max-width: 300px;
  width: 100%;
  margin-left: 30px;

}
.no-post{
  width: 700px;
  max-width: 100%;
  height: 220px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;


}
.no-post div{
  margin: 0 auto;
}
.no-post img{
  width: 150px;
  height: 150px;
  margin: 0 auto;

}
