{% extends 'home/base_layout.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card">
  <div class="details-header">
    <h2>Reset Password</h2>
  </div>
  <hr>
  <div class="details-buttons">
    <h6>Forgotten your password? Enter your email address below to recieve reset link</h6>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="/login"><button style="color:red; margin-bottom: 30px" type="button" id="button-hover" class="btn">Cancel</button></a>
      <button style="color:blue; margin-bottom: 30px" class="btn" id="button-hover" type="submit">Send email</button>
    </form>
  </div>
</div>
{% endblock %}
