{% extends "home/base_layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card">
  <div class="details-header">
    <h2>Password Reset Confirm</h2>
  </div>
  <hr>
  <div class="details-buttons">
    <h6>Please enter your new password.</h6>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button style="color:blue; margin-bottom: 30px" class="btn" id="button-hover" type="submit">Reset password</button>
    </form>
  </div>

</div>
{% endblock %}
