{% extends 'home/base_layout.html' %}
{% block content %}
	<div class="card">
		<div class="details-header">
			<h2>Password reset sent</h2>
		</div>
		<hr>
		<div class="details-buttons">
			<h6>We've emailed you a link for resetting your password, if an account exists with the email you entered. You should receive them shortly.
	      <br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h6>
		</div>
  </div>
{% endblock %}
