
{% extends 'home/base_layout.html' %}
{% load static %}
{% if user.is_authenticated %}
  {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% include 'home/alerts.html' %}
      <div class="background">
        <div class="details-header">
          <div class="profile-picture">
            {% if image == None %}
              <img src="{% static 'default_img.jpg' %}" alt="">
            {% else %}
              <img src="{{ image.image.url }}" alt="Profile Photo">
            {% endif %}
          </div>
          <div class="profile-info">
            <ul>
              {% if account.username %}
                <li>Username: {{ account.username | title  }}</li>
              {% endif %}
              {% if account.animal %}
                <li>Animal: {{ account.animal | title }}</li>
              {% endif %}
              {% if account.breed %}
                <li>Breed: {{ account.breed | title }}</li>
              {% endif %}
              {% if account.bio %}
                <li>Bio: {{ account.bio | title }}</li>
              {% endif %}
            </ul>
          </div>
          <div class="follow">
            <a href="/{{ account.username }}/follow">
              <h6>Follows</h6>
            </a>

            <form  method="post">
              {% csrf_token %}
              <button type="submit" name="follow" class="btn"> Follow</button>
            </form>
            <form method="post">
              {% csrf_token %}
              <button type="submit" name="unfollow" class="btn">Unfollow</button>
            </form>

          </div>
            {% if account == request.user %}
            <div class="btn-group dropright" style="width:70px; height:50px; margin-top:20px">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="link-hover"  href="/{{ request.user.username }}/edit-profile">
                  <button type="button" name="archive" id="button-hover" style="color:blue" class="dropdown-item">Edit Profile</button>
                </a>
                <a class="link-hover"  href="/profile-photo">
                  <button type="button" name="archive" id="button-hover" style="color:blue" class="dropdown-item">Update profile picture</button>
                </a>
                <a class="link-hover"  href="/{{ account.username }}/archive">
                  <button type="button" name="archive" id="button-hover" style="color:blue" class="dropdown-item">Archive</button>
                </a>
                <a class="link-hover"  href="/password_change">
                  <button style="color:blue" id="button-hover" class="dropdown-item" type="button">Change password</button>
                </a>
                <a class="link-hover" href="/logout">
                  <button style="color:red" class="dropdown-item" type="button">Logout</button>
                </a>

              </div>
            </div>
            {% endif %}
      </div>

    </div>
<div class="details-buttons">
  {% if posts %}
  <ul class="profile-posts">
    {% for post in posts %}
    <li>
      <div class="post-card">
        {% for image in post.image_set.all %}
          {% if forloop.first %}
            <a href="/{{ post.id }}/view"><img class="card-image" src="{{ image.image.url }}" alt="Pet image"></a>
          {% endif %}
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  {% else %}
      <div class="no-post">
        <img src="https://img.icons8.com/clouds/100/000000/dog-paw-print.png"/>
        <div class="">
          <h5>No post yet <a style="color:blue;" href="/create">Upload</a> </h5>
        </div>

      </div>
  </ul>
  {% endif %}
</div>
  {% endblock%}
  {% else %}
  <p>Oops you are not logged in yet please do so. <a href="/login">Log in</a> </p>

{% endif %}
