{% extends 'home/base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div style="margin-top:50px" class="card">
    <div class="details-header">
      <h3 style="margin-top:30px">Login</h3>
    </div>
    <hr>
    <div class="details-buttons">
      <form class="form-group" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h6>Forgotten password? <a href="/password_reset">Click here</a> </h6>
        <h6>Don't have an account? <a href="/sign-up/">Sign Up</a> </h6>
        <button type="submit" style="color:blue;" id="button-hover" class="btn">Login</button> -or-
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <button type="button" style="color:blue;" class="btn" id="button-hover" name="button">Google+</button>
        </a>
      </form>
    </div>
  </div>
{% endblock %}
