{% extends 'home/base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
  <div class="details-header">
    <h4>Are you sure you want to delete this post forever?</h4>
    <form  method="post">
      {% csrf_token %}
      <button type="submit" name="delete_post" style="color:red" id="button-hover" class="btn">Yes</button>
      <a href="/{{ post.id }}/view">
        <button type="button" style="color:blue" name="button" id="button-hover" class="btn">No</button>
      </a>
    </form>
  </div>
  <div class="details-content">
    {% for image in images %}
    <div class="w3-content w3-display-container">
      <div class="w3-display-container mySlides">
        <img class="card-image" src="{{ image.image.url }}" style="width:100%">
        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="details-buttons">
    <h6>{{ post.caption }}</h6>
    <h6>Likes: {{ post.likes.count }}, Comments: {{ comments.count }} </h6>
  </div>
</div>

{% endblock %}
