{% extends 'home/base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
  <div class="details-header">
    <h2 style="margin-top:30px">Edit post</h2>
  </div>
  <div class="details-buttons">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      {{ formset.management_form }}
      {% for form in formset %}
        {{ form |crispy }}
      {% endfor %}
      <a href="/{{ post.id }}/view"><button style="color:red; margin-bottom: 30px" type="button" class="btn">Cancel</button></a>
      <button type="submit" style="color:blue; margin-bottom: 30px" class="btn">Update post</button>
    </form>
  </div>
</div>
{% endblock %}
