{% extends 'home/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>
<div class="card">
  <div class="details-header">
    <a href="/{{ post.account.username }}/profile"><h3 class="details-header">{{ post.account.username | title}}</h3></a>
    {% if request.user == post.account %}
      <div class="btn-group dropright" style="width:70px">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/{{ post.id }}/edit">
            <button type="button" name="edit" style="color:blue" id="button-hover" class="btn"> Edit</button>
          </a>

          <form method="post">
            {% csrf_token %}
            <button type="submit" name="archive" value="archive" style="color:blue" id="button-hover" class="btn"> Archive</button>
          </form>
          <a href="/{{ post.id }}/delete">
            <button type="button" name="delete" style="color:Red" id="button-hover" class="btn"> Delete</button>
          </a>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="details-content">
    {% for image in images %}
    <div class="w3-content w3-display-container">
      <div class="w3-display-container mySlides">
        <img class="card-image" src="{{ image.image.url }}" style="width:100%">
        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="details-buttons">
      <h6>{{ post.caption }}</h6>
        <h6>Likes: {{ post.likes.count }}, Comments: {{ comments.count }} </h6>

      <form  method="post">
        {% csrf_token %}
          <button type="submit" name="like_post" value="{{ post.id }}" style="color:blue" id="button-hover" class="btn">Like</button>
          <button type="submit" name="dislike_post" value="{{ post.id }}" style="color:red" id="button-hover" class="btn">Dislike</button>
      </form>

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" style="color:blue" id="button-hover" class="btn">Comment</button>
    </form>

    {% for comment in comments %}
        <hr>
        <div class="flex-comment">
          <blockquote class="blockquote">
            <h6 class="mb-0">{{ comment.comment|capfirst }}</h6>
            <footer class="blockquote-footer"> <cite title="Source Title">{{ comment.account.username|title }}</cite></footer>
          </blockquote>
          {% if request.user == comment.account %}
          <form method="post">
            {% csrf_token %}
            <div class="btn-group dropright">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <div class="dropdown-menu">
                <a href="/{{ comment.id }}/edit-comment">
                  <button type="button" style="color:blue" name="edit_comment" id="button-hover" class="btn">Edit</button>
                </a>
                <button type="submit" name="delete_comment" value="{{ comment.id }}" style="color:Red" id="button-hover" class="btn">Delete</button>
              </div>
            </div>
          </form>
          {% endif %}
        </div>

        <h6>Likes: {{ comment.likes.count }}</h6>

        <form method="post">
          {% csrf_token %}
            <button type="submit" name="like_comment" value="{{ comment.id }}" style="color:blue" id="button-hover" class="btn">Like</button>
            <button type="submit" name="dislike_comment" value="{{ comment.id }}" style="color:red" id="button-hover" class="btn">Dislike</button>
        </form>
    {% endfor %}
  </div>
</div>


<script src="{% static 'style.js' %}">

</script>
{% endblock %}
