{% extends 'home/base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<ul>
{% for post in posts %}
      <li class="card">
        <div class="card-container">
          <a href="/{{ post.account.id }}/profile"><h5 class="card-header">{{ post.account.username | title}}</h5></a>
          <form class="form-group" method="post">
            {% csrf_token %}
            <button type="submit" name="remove_from_archive" class="btn btn-primary">Remove from archive</button>
          </form>
          <a href="/{{ post.id }}/delete"><button type="button" name="delete" class="btn btn-danger"> Delete</button></a>
          {% for image in images %}
            {% if forloop.first %}
              <a href="/{{ post.id }}/view"><img class="card-image" src="{{ image.image.url }}" alt="Pet image"></a>
            {% endif %}
          {% endfor %}
          <p>{{ post.caption }}</p>
        </div>
      </li>
{% endfor %}
</ul >
{% endblock %}
