{% extends 'home/base_layout.html' %}
{% load static %}
{% block content %}
{% include 'home/alerts.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to top</button>
<ul>
  {% for post in posts %}
    <li class="card">
      <div class="details-header">
        <a  href="{{ post.account.username }}/profile"><h3 >{{ post.account.username | title}}</h3></a>
      </div>
        {% for image in post.image_set.all %}
          {% if forloop.first %}
            <a href="/{{ post.id }}/view"><img class="card-image" src="{{ image.image.url }}" alt="Pet image"></a>
          {% endif %}
        {% endfor %}
        <div class="details-buttons">
          <h6>{{ post.caption }}</h6>
          <h6>Likes: {{ post.likes.count }}</h6>
        </div>
    </li>
  {% endfor %}
</ul>

{% endblock %}
