{% extends 'home/base_layout.html' %}
{% load crispy_forms_tags %}
  {% block content %}
  <div class="card">
    <div class="details-header">
      <h2>{{ post.account.username | title }}</h2>
      {% if request.user == post.account %}
      <a href="/{{ post.id }}/edit"><button type="button" name="edit" class="btn btn-secondary"> Edit</button></a>
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="archive" value="archive" class="btn btn-secondary"> Archive</button>
      </form>
      <a href="/{{ post.id }}/delete"><button type="button" name="delete" class="btn btn-danger"> Delete</button></a>
      {% endif %}
    </div>
    <div class="details-content">
      {% for image in images %}
        <div class="w3-content w3-display-container">
          <div class="w3-display-container mySlides">
            <img class="card-image"  src="{{ image.image.url }}" style="width:100%">
            <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="details-content">
      <p>{{ post.caption }}</p>
      <p>{{ post.likes.count }}</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="like" class="btn btn-primary">Like</button>
        <button type="submit" name="dislike" class="btn btn-primary">Dislike</button>
      </form>

    </div>
    <div class="details-buttons">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>

    </div>
    <div class="details-content">
      {% for comment in comments %}
        <p>{{ comment.comment }}</p>
        <p>{{ comment.likes.count }}</p>
        {% if request.user == post.account %}
          <a href="/{{ comment.id }}/edit-comment"><button type="button" name="edit_comment" class="btn btn-primary">Edit</button></a>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="like_comment" value="{{ comment.id }}" class="btn btn-primary">Like</button>
            <button type="submit" name="dislike_comment" value="{{ comment.id }}" class="btn btn-primary">Dislike</button>
          </form>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endblock %}
